<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-responsive.css">
	</head>
	<body>
		<div class="text-center">
			<p>Post is longer than 256 characters.</p>
		</div>
	</body>
</html>