<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-responsive.css">
		<style>
			textarea {
				width: 305px;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<div class="text-center">
			<form method="post">
				<textarea name="description" rows="10"></textarea>
				<br>
				<input type="submit" value="Submit Post">
			</form>
		</div>
	</body>
</html>
