<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-responsive.css">
	</head>
	<body>
		<div class="text-center">
			<% if posts.empty? %>
				<p>No posts to show.</p>
			<% else %>
				<p><strong>Posts:</strong></p>
				<% posts.each do |post| %>
					<p><%= post[0] %>. <%= post[1] %></p>
				<% end %>
			<% end %>
		</div>
	</body>
</html>